.card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the card takes full height of its container */
  border: 1px solid #ddd; /* Add border for better visualization */
  border-radius: .25rem; /* Rounded corners */
  overflow: hidden; /* Ensure overflow is hidden */

}

.card-img-top {
  height: 200px; /* Fixed height for the image */
  object-fit: cover; /* Maintain aspect ratio */
}

.card-body {
  flex: 1; /* Allow the body to grow and fill available space */
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  flex-grow: 1; /* Allow text to grow and take available space */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-price {
  font-size: 1rem;
  margin-top: auto; /* Push the price to the bottom of the card body */
}



